  @media only screen and (min-width: 900px){
}
   /*NAVIGATION*/

nav ul.hide {
    display:inline-flex;
    width: 100%; justify-content: center;
}

nav button {
    display: none;
}

nav ul li {
    font-size: 1.3em;
    border: none;
    border-right: 1px solid black;
    padding: .6rem 1rem;
}

nav ul li {
   margin: 0 ; 
    border: 1px ; 
    padding: 5px; 
    line-height: 1.3em; 
}
          
ul {
    list-style-type: none;
     margin: 0px;
     padding: 1px;
     overflow: hidden;
     background-color: black;
     text-align: center;
    
}li {
  text-align: center;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}