/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 560px) {}

@media screen and (max-width: 560px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
 .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/* MAIN */
main {
    max-width: 809px;
    margin: auto;
    text-align: center;
}

.logo img {
    border-style: groove;
    max-width: 100%;
    position: relative;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.grid {
    border-color: #222e50;
    border-style: double;
    margin: 10px;
    
  }
  
  .grid p {
    margin: 0px;
    padding: 0 28px 14px;
    letter-spacing: 0.04em;
    color: rgba(26, 26, 31, 0.836);
    font-size: large;
  }
  h4 {
      font-size: larger;
  }

} /*end medium */