@import url('https://fonts.googleapis.com/css?family=Spectral:300,400,500,700&display=swap');

* {box-sizing: border-box;
	margin:5px;
	padding: 1px;
}
	  
	  body {
		margin: auto;
		padding: auto;
		text-align: center;
		font-family: 'Spectral', serif;
		background-color: rgb(189, 227, 241);
	  }
	  
	  header {
		background-color: rgb(189, 227, 241);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	  
	  header img {
		margin-bottom: -2.5rem;
		margin-left: -19.5rem;
		display: block;
	  }
	  
	  .heading {
		display: flex;
		flex-direction: column;
	  }
	  
	  .heading h1 {
		font-size: 1.rem;
		margin: 0 0 0 17px;
	  }
	  
	  .top {
		font-style: italic;
		letter-spacing: 0pt;
		color: rgb(54, 14, 201);
		margin-left: 1px;
		font-size: 1.5rem;
	  }
		  
	  
	  /* NAVIGATION HERE */
nav {
	margin: 1px;
	padding: 0px;
}

	  nav ul {
		background-color: rgb(32, 12, 212);
		padding: .5px;
		margin: 2rem;
		margin-bottom: -.5rem;
	  }
	  
	  nav ul.hide {
		display: none;
	  }
	  
	  nav li {
		padding: 15px;
	  }
	  
	  nav li a {
		text-decoration: none;
		
	  }
	  
	  nav li:hover {
		background-color: rgb(4, 38, 61);
	  }
	  
	  li {
		border-right: 1px solid rgb(148, 88, 88);
	  }
	  
	  li:last-child {
		border-right: none;
	  }

	  .sub-menu li {
		float: left;
		background-color: rgb(32, 12, 212);
		padding: .2px;
		margin: 25px;
	   }

	   nav ul li ul {
		display: none;
		position: absolute;
		margin: -10px;
		padding: 2px 4px;
		font-size: 15px;
		border-radius: 10px;
	   }

	   nav ul li:hover ul {
		display: block;
	   }

	   nav ul li ul a {
		display: block;
		margin: -10px;
		padding: 5px 14px;
		font-size: 15px;
	   }
	   

	   nav ul li ul a:hover {
		background-color: rgb(5, 5, 5);

	   }


	  .Summary {
		background-color: whitesmoke;
		opacity: 0.6;
		position: absolute;
		padding: 2px;
		top: 15px;
		left: 10px;
	  }
	  
	  
	  /* ID selectors */
	  #header,
	  #footer {
		padding: 2em;
		color: rgb(43, 255, 0);
		background: white;
	  }


    /* MAIN */
    
  .homepage img {
  max-width: 100%;
  margin-top: 0.1rem;
  border: 3px solid rgb(177, 228, 231);
  padding: none;
  }
  
/* Grid Gallery */
.grid {
  margin: 5px;
  border: 3px solid rgb(177, 228, 231);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  display: block;
}

.grid p {
  margin: 0px;
  padding: 0 28px 14px;
  letter-spacing: 0.04em;
  color: rgba(26, 26, 31, 0.836);
  font-size: large;
  text-align: center;
}

.grid img {
margin-right:6rem;
display: grid;
grid-template-columns: 1fr;
}


h4 {
font-size: larger;
text-align: center;	
}

.button {
    border: none;
    border-radius: 13rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
  }

.cta-button {
    background-color: rgba(0, 0, 0, 0);
   
  }
  
.button-wrapper {
   margin: 15px;
   padding: 15px;
   text-align: center;
   border: 3px solid rgb(177, 228, 231);
   
}

.p {
  font-size: larger;
  text-decoration-color: turquoise;
  max-width: 0%;
  
}

/* Map and Content */
.map {
  float: left;
  padding-right: 1px;
  border: 3px solid rgb(177, 228, 231);
  margin-left: 10rem;
  
  
}

.map p {
	float: right;
}
  

 .contact {
  margin-right: 2rem;
  margin-top: 10px;
}

.contact p {
  color: black;
  font-size: 18px;

}

.contact a {
	color: rgb(36, 9, 185);
	
}

.event {
	margin: 5px;
	padding: 5px;
}

/* RIVER GUIDE */
.guide-container {
	display: grid;
	grid-template-rows: 1fr;
}
  .guide-one img {
	float: left;
	width: 30%;
}
.guide-one {
	border: 3px solid rgb(200, 239, 241);
}
.guide-one p {
	margin: 2px;
}

.guide-two img {
	float: right;
}
.guide-two {
	border: 3px solid rgb(200, 239, 241);
}
.guide-two p {
	margin: 2px;
}

.guide-three img {
	float: left;
}
.guide-three {
	border: 3px solid rgb(200, 239, 241);
}
.guide-two p {
	margin: 2px;
}

section.article {
	border: 3px solid rgb(200, 239, 241);
	text-align: center;
	background-color: rgb(243, 214, 243);
	font-size: larger;
 }

 .call2action a {
	color: white;
	display: block;
	padding: 4px 2px;
	background-color: rgb(192, 38, 197);
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000;
}

/* RESERVATION */

form {
	text-align: left;
	padding: 20px;
	max-width: 500px;
	margin: auto;
  }
  
  fieldset {
	max-width: 500px;
	margin: 10px auto;
	background-color: rgb(108, 157, 163);
  }
  
  form h3 {
	font-size: 20px;
	font-family: 'Spectral', serif;
  }
  
  input {
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	border-radius: 4px;
	padding: 5px;
  }
  
  input[type="radio"] {
	position: absolute;
	left: -120px;
  }
  
  span.answer {
	position: relative;
  }
  
  .slidecontainer {
	width: 100%;
  }
  
  .slider {
	-webkit-appearance: none;
	width: 50%;
	height: 25px;
	background: white;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 4px;
	margin: 8px 0;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: rgb(40, 40, 179);
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: rgba(207, 142, 233, 0.247);
	cursor: pointer;
  }
  
  #ratingvalue {
	padding: 10px;
  }
  
  select[name=raftregion] {
	margin: 8px 0;
	border-radius: 4px;
  }
  
  input[type=radio] {
	margin: 8px 0;
  }
  
  textarea {
	margin: 8px 0;
	border-radius: 4px;
	width: 75%;
  }
  
  button {
	border-radius: 4px;
	background-color: rgb(143, 115, 219);
	color: white;
	padding: 10px;
  }


  /* Contact Style Inputs */
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #c31af7;
  }
  
  .container {
	border-radius: 5px;
	padding: 20px;
  }
  
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }




/* Footer */
footer {
  clear: both;
  background-color: rgb(195, 12, 212);
  Color: White;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5rem;
  font-size: 15px;
  border-style: double;
}

  /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }