/* Media Query for medium + screens */
* {
    box-sizing: border-box;
  }

body {
	background-color: #fff;
	padding: 1rem;
    margin: 1rem;
    text-align: center;
   }

header {
	background-color: rgb(163, 233, 163);
	padding:0;
	display: flex;
    align-items: center;
	justify-content:center;
}

header img {
	width: 90px;
	vertical-align: sub;
}

.heading {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 1.rem;
	margin: 0 0 0 17px;
}

.top {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(12, 12, 12);
	margin-left: 20px;
	font-size: 1.5rem;
}

button {
    border-radius: 4px;
    color:red;
}

 /* NAVIGATION HERE */
 nav ul {
	background-color: rgb(17, 192, 11) ;
	list-style-type: none;
	padding: 0;
	}
   
	 nav ul.hide {
			  display: none;
	 }
	 
	 nav li {
		 padding: 15px ;
	 }
   
	 nav li a {
		 text-decoration: none;  
		 color: white; 
	   }
   
	 nav li:hover {
	   background-color:black;
	 }
   
	 li {
	   border-right: 1px solid #bbb;
	 }
	 
	 li:last-child {
	   border-right: none;
	 }

     /* MAIN HERE */

div#hero img {
    width: 100%;
    margin:0;
}

div#hero {
    width:100%;
    height:auto;
    position: relative;
    margin-bottom: 40px;
} 

.Summary {
    background-color: whitesmoke;
    opacity: 0.7;
    position: absolute;
    padding: 3px;
    top: 15px;
    left: 10px;
}


div#summary h3 {
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 4px solid #222e50
}

div#summary p {
    font-family: 'Lato' , sans-serif;
    padding-bottom: 5px;
    margin: 0;
}

div#forecast {
    display: none;
}

.content1 {
    display:flex;
    justify-content: center;
    background-color:#d3f3d8;
}



.text001 {
   align-self: center;
   margin-right: 5px;
}

.map {
	display: none;
}

.contact {
   text-align: center;
   font-size: 19px;
   margin-bottom: 2px;
}
.contact a {
    padding: 1px;
   font-size: 40px;
    margin: auto;
    background-color: #1030e7;
    color:white;
  }


/* Footer */
footer {
    background-color: chartreuse;
    Color: White;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0.5rem;
    font-size: 15px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }