* {
    box-sizing: border-box;
  }

body {
	background-color: #fff;
	padding: 1rem;
    margin: 1rem;
    text-align: center;
   }

header {
	background-color: rgb(11, 191, 223);
	padding:0;
	display: flex;
    align-items: center;
	justify-content:center;
}

header img {
	width: 90px;
	vertical-align: sub;
}

.heading {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 1.rem;
	margin: 0 0 0 17px;
}

.top {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(12, 12, 12);
	margin-left: 20px;
	font-size: 1.5rem;
}

button {
    border-radius: 4px;
    color:red;
}

/* NAVIGATION */

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

nav {
    background-color:white;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 15px;
    font-size: 1.2rem;
    background-color: black;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color:#ffff
    ;
    border-top: 1px solid rgba(139, 136, 150, 0.3);
}

nav ul li a:hover {
    background-color:rgb(212, 13, 13);
}
 nav ul.hide {display: none;}

/* MAIN */

main {
    margin-top: 1rem;
    padding: 10px;
  }

  h2 {
      text-align: center;
     
  }

.hero img {
    margin: 0;
}

.hero {
    width:100%;
    height:auto;
    position: relative;
    margin-bottom: 40px;
} 

div#Summary {
    background-color: whitesmoke;
    opacity: 0.7;
    position: absolute;
    padding: 2rem;
    top: 15px;
    left: 250px;
}

.wrapper {
    background-color: rgb(79,185,227);
    padding: 10px;
    color: #fff;
    overflow: auto; 
  }
      
  .box {
    float: left;
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em;
  } 
  
  /* Main Section */

  main {
    margin: 0 3% 0 3%;
}

  .container {
    display:flex;
    justify-content: center;
    background-color:#d5f0f1;
    margin-left: 20px;
    font-size: 20px;
    margin: 2px;
}

.text {
    align-self: center ;
     margin-right: 100px;
  }

.image {
    float: left;
}

.contact {
    display:flex;
    justify-content: center;
    background-color:#d5f0f1;
    margin-left: 20px;
    font-size: 20px;
    margin: 2px;
}

.content {
    text-align: right;
}

googlemap {
    text-align: left;

}

  
/* Footer */
footer {
    background-color: #1a0ce9;
    Color: White;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0.5rem;
    font-size: 15px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
