@media only screen and (min-width: 1016px){
    
main {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   max-width: 1200px;
}

header {
  max-width: 1200px;
}

footer {
  font-size: 1em;
}
}
