/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
/*NAVIGATION*/

nav ul.hide {
    display:inline-flex;
    width: 100%; justify-content: center;

}

 nav button {
     display: none;
 }

 nav ul li {
     font-size: 1.3em;
     border: none;
     border-right: 1px solid black;
     padding: .6rem 1rem;
}

   nav ul li {
    margin: 0 ; 
    border: 1px ; 
    padding: 5px; 
    line-height: 1.3em      ; 
}
     
ul {
    list-style-type: none;
    margin: 0px;
    padding: 1px;
    overflow: hidden;
    background-color: rgb(25, 60, 218);

}

li {
display: inline-block;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/*HERO*/
main {
max-width: 1050px;
margin: auto;
text-align: center;
}


/*Weather Photos*/
div.weather {
    display: grid;
    padding: 3%;
    margin: 5rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
}

div.weather figure:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}


 /*ARTICLE*/
 article {
    margin:auto;
    max-width: 1000px;
    padding:0;
    font-size: 1.3em;
}

article p img {
    width:400px ;
    float:right;
    margin-left: 20px;

}

article p {
    padding:20px;
}

article h3 {
    padding: 20px 00 20px;
}
 article h4 {
     padding-left: 20px; 
 }

#homePage article{
width:250px;
position: relative;
min-height:500px;
}
#homePage img{
position:absolute;
bottom: 0;
}
}