/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {}


div.weather {
  grid-template-columns: repeat(2, 1fr);
}

   /*homePage*/
  article#homePage {
  border: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  margin-top: 30px;
}  