/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {}


div.weather {
  grid-template-columns: repeat(2, 1fr);
}

/* Cards Section */

.cards {
  margin: 1rem 2%;
}

.cards section{
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: .5rem;
}

.col-2 {
  order: 1;
  padding-top: 0;
}

.cards section:nth-child(2) .col-2 {
  order: -1;
}

.cards img {
  max-width: 100%;
}

.col-1, .col-2 {
  padding: 1rem;
}

  /* Article Section */

  .grid {
    grid-template-columns: 45% 55%;
}

.right {
    margin-left: 2%;
}

.left {
    display: block;
}

.imgContainer {
    padding-top: 0.5rem;
    text-align: center;
}

.icons {
    max-width: 10%;
    margin-right: 0.2em;
}

   /*homePage*/
  article#homePage {
  border: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  margin-top: 30px;
}  