/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {}


.weather {
  grid-template-columns: repeat(2, 1fr);
}

/* JSON */
.cards {
  grid-template-columns: 1fr 1fr;
  margin: 1.25rem;
}